<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">FAQ</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">





      <div class="panel-body">

        <ol style="list-style-type:none">
          <li><strong>1. INSTALL METAMASK</strong> (SWITCH TO OPERATION IN TEST NETWORK RINKEBY WHERE OUR SOLUTION IS BEING TESTED AT THE MOMENT). METAMASK IS AN EXTENSION FOR YOUR BROWSER (CRYPTO-WALLET).</li>
          <li><strong>2. FULL ACCESS</strong> TO SMART CONTRACT IS AVAILABLE ONLY VIA WALLET. WEB CLIENT IS IN TEST STAGE YET, WHICH MEANS YOU CAN CREATE REQUEST FOR A NEW WHIP-ROUND AND VIEW ONGOING WHIP-ROUNDS DATA.</li>
          <li>
            <strong>3. BASIC FUNCTIONS</strong>
             (ACCESSIBLE VIA WALLET):

            <ul>
              <li><strong>NEWPROPOSAL</strong> - COULD BE STARTED BY ANY USER. CREATES REQUEST FOR START OF A WHIP-ROUND. THE REQUEST SHOULD THEN BE APPROVED BY ONE OF DELEGATES;</li>
              <li><strong>VOTE</strong> - COULD ONLY BE STARTED BY DELEGATE. VOTING FOR WHIP-ROUND LAUNCH. ONE DELEGATE'S VOICE IS CURRENTLY ENOUGH TO START THE LAUNCH;</li>
              <li><strong>NEWCAMPAIGN</strong> - COULD ONLY BE STARTED BY DELEGATE. CREATION OF WHIP-ROUND RECORD (WITHOUT REQUEST AND VOTING);</li>
              <li><strong>AFTER VOTE OR NEWCAMPAIGN</strong> FUNCTION IS INITIATED A NEW SMART CONTRACT WILL BE CREATED. ITS ADDRESS IS AVAILABLE WITH GETCAMPAIGNACTIVEINFO FUNCTION;</li>
              <li><strong>FINISHCAMPAIGN</strong> - COULD ONLY BE STARTED BY DELEGATE WHO VOTED FOR RELEVANT WHIP-ROUND. THE FUNCTION WILL CREATE A LINK TO REPORT OF WHIP-ROUND RESULTS AND DETAILS;</li>
              <li><strong>GETCAMPAIGNCOMMONINFO AND GETCAMPAIGNACTIVEINFO</strong> - REQUEST INFORMATION ON WHIP-ROUND.</li>
            </ul>

          </li>
        </ol>

       






      </div>



    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div><!--/.row-->
