
  <section class="widget widget-sm link {{colour}} text-white" [routerLink]=" route ">
    <div class="widget-body">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p  class="mb-xs"><i class="fa {{type}} fa-5x"></i></p>
        </div>
        <div class="col-lg-6 col-md-6">
          <p class="value1 text-white mt-sm mr-n-xs">
            {{number}}
          </p>
        </div>
      </div>


      <h5>
        <span class="fw-semi-bold">{{comments}}</span>

      </h5>
    </div>
  </section>

