
<div class="row">
  <div class="col-lg-10">
    <h1 class="page-header">Заявка кампании</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!--<div class="row">
  <div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        Для организации компании заполните анкету
      </div>
      <div class="panel-body " style="margin: 0 60px;">
        <div class="row">
          <div class="col-lg-10">


            <div class="form-group">
              <label>Адрес кошелька для сбора средств</label>
              <input class="form-control" placeholder="Адрес кошелька для сбора средств" ng-model="addressWallet">
            </div>
            <div class="form-group">
              <label>Сумма которую необходимо набрать</label>
              <input class="form-control" placeholder="Сумма в ETH" ng-model="amountGoal">
            </div>
            <div class="form-group">
              <label>На что необходимы средства</label>
              <input class="form-control" placeholder="Немного информации о целях сбора средств" ng-model="descriptionOfCampaign">
            </div>
            <div class="form-group">
              <label>Ссылка на официальную страницу сбора</label>
              <input class="form-control" placeholder="Укажите ссылку" ng-model="linkOfCampaign">
            </div>

            <button type="submit" class="btn btn-primary right" ng-click="sendData(addressWallet, amountGoal, descriptionOfCampaign, linkOfCampaign)">Создать</button>
            <button type="submit" class="btn btn-warning" ng-show="lookTransactionButton">Следить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-6">
    <section class="widget" widget>
      <header>
        <h6>
          Inputs
        </h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend><strong>Horizontal</strong> form</legend>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Адрес кошелька для сбора средств</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" [(ngModel)]="addressWallet" name="addressWallet" placeholder="Адрес кошелька для сбора средств">
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Сумма которую необходимо набрать</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" [(ngModel)]="amountGoal" name="amountGoal" placeholder="Сумма в ETH">
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right"></label>
              <div class="col-md-7 ">
                <div class="form-group multiple-form-group" data-max="3">
                  <label>Multiple inputs (with data-max=3)</label>

                  <div class="form-group input-group">
                    <input type="text" name="multiple[]" class="form-control">
                    <span class="input-group-btn"><button type="button" class="btn btn-danger btn-remove">–</button></span>
                  </div><div class="form-group input-group">
                    <input type="text" name="multiple[]" class="form-control">
                    <span class="input-group-btn"><button type="button" class="btn btn-danger btn-remove">–</button></span>
                  </div><div class="form-group input-group">
                    <input type="text" name="multiple[]" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-add" disabled="disabled">
                        +
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">На что необходимы средства</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" [(ngModel)]="descriptionOfCampaign" name="descriptionOfCampaign" placeholder="Немного информации о целях сбора средств">
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Укажите ссылку</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" [(ngModel)]="linkOfCampaign" name="linkOfCampaign" placeholder="Укажите ссылку">
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="btn-block text-center">
              <button type="submit" (click)="sendData()" class="btn btn-primary">Создать</button>

            </div>
          </div>
        </form>
      </div>
    </section>
  </div>


</div>
