<section class="widget" widget>
  <header>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
      <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <p>
      Здесь Вы можете узнать более подробную информацию о Делегатах

    </p>
    <p>
      <input *ngIf="config.filtering"
             [ngTableFiltering]="config.filtering"
             (tableChanged)="onChangeTable(config)"
             class="form-control input-no-border bg-gray-lighter"
             placeholder="Filter Table" type="text">
    </p>
    <ng-table [config]="config.sorting"
              (tableChanged)="onChangeTable(config)"
              [rows]="rows" [columns]="columns">
    </ng-table>
    <!--<pagination *ngIf="config.paging"
                class="pagination-sm"
               
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination>-->
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </div>
</section>
