<section class="widget" widget>
  <header>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
      <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 float-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
           <!--<input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search Countries">-->
        </div>
      </div>
      <table class="table table-striped table-hover" [mfData]="ng2TableData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th *ngFor="let col of columns">
              <mfDefaultSorter by="name">{{col.title}}</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td *ngFor="let col of columns" class="text-left" [ngSwitch]="col.type">
              <button *ngSwitchCase="'vote'" type="submit" class="btn btn-primary">Голосовать</button>
              <a *ngSwitchCase="'link'" href="https://rinkeby.etherscan.io/address/{{item.addressOwner}}" target="_blank"
                 title="{{item[col.name]}}">{{item[col.name]}}...</a>
              <a *ngSwitchCase="'descriptionlink'" href="{{item[col.name]}}" target="_blank" title="{{item[col.name]}}">{{item[col.name]}}</a>
              <!--need to add types to typescript enums-->
              <a *ngSwitchCase="'infolink'" [routerLink]=" ['../../campaignInfo'] " [queryParams]="{hash: item.hash,type:'proposal'}" title="{{item[col.name]}}">{{item[col.name]}}</a>
              <a *ngSwitchCase="'infoknown'" [routerLink]=" ['../../campaignInfo'] " [queryParams]="{hash: item.hash,type:'known'}" title="{{item[col.name]}}">{{item[col.name]}}</a>
              <a *ngSwitchCase="'infocompleted'" [routerLink]=" ['../../campaignInfo'] " [queryParams]="{hash: item.hash,type:'completed'}" title="{{item[col.name]}}">{{item[col.name]}}</a>
              <ng-container *ngSwitchCase="'text'">{{item[col.name]}}</ng-container>

            </td>

            <!--<td>{{item.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>-->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>



